/* Stili specifici SOLO per la home page */

/* Contenitore del menù */
.menu-container {
    position: absolute;
    top: 680px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.main-menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stile dei pulsanti della home page */
.menu-button {
    background-color: var(--unime-white);
    border: 10px solid var(--unime-gray);
    color: var(--unime-blue-light);
    padding: 35px 20px;
    margin: 20px 0;
    font-size: 55px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s, border-color 0.3s;
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.menu-button:hover {
    background-color: var(--unime-gray);
    color: var(--unime-blue-dark);
    border-color: var(--unime-blue-dark);
    transform: scale(1.03);
}